.container {
  --size: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .chevron-right {
  position: absolute;
  animation: keyframes-return .5s backwards;
}

.container input:checked ~ .chevron-right {
  animation: keyframes-rotate .5s backwards;
  transform: rotate(180deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}